.rows {
    position: absolute;
    top: 550px;
    left: 400px;
    display: grid ;
    grid-template-columns: 275px 275px 275px 275px;
    background-color: white;
    padding-bottom: 150px;
    box-shadow: 0px 0px 2px 2px rgb(223, 223, 223);
}

.product {
    border: 1px solid rgb(216, 216, 216);
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px 10px rgb(246, 246, 246);
}


.description {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    color: rgb(51, 51, 51);
    max-width: 250px;
    font-weight: 600;
    border-top: 1px solid rgb(221, 221, 221);
}
.price{
    font-size: 20px;
    max-width: 250px;
    font-weight: bolder;
    border-bottom: 1px solid rgb(221, 221, 221);
}

.product-image {
    height: 200px;
    width: 200px;
    padding-left: 21px;

}

p {
    padding-left: 21px;
    padding-top: 3px;
    
}


.icons {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
}

.page-changer {
    height: 30px;
    width: 120px;
   border: 1px solid rgb(216, 216, 216);
   box-shadow: 0px 0px 10px 10px rgb(246, 246, 246);
    position: absolute;
    bottom: 70px;
    left: 500px;
    display: flex;
    justify-content: space-around;
}

.page-changer button {
    height: 30px;
    width: 30px;
    border-style:none ;
    font-weight: bold;
    border-radius: 20px;
    font-size: 16px;
}

.button-1 {
    background-color: blueviolet;
    color: white;
}

.button-1:hover {
 cursor: pointer;
}


.button-2:hover {
 cursor: pointer;
 color: white;
 background-color: grey;
}
